.search {
    width: 100%;
    padding: 40px 0px;

    &__form {
        width: 100%;
        position: relative;
    }

    &__inp {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #e3eef0;
        border-radius: 20px;
        outline: none;
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #b652d1;
        font-size: 19px;
    }
}